.text-recommend{
  display: flex;
  justify-items: center;
  color: red;
  width: 100%;
}

.justify-content-md-center .card-body-product {
  margin-top: 20px;
  height: 220px;
}

.justify-content-md-center .text-order-price {
  display: flex;
  justify-content: space-around;
}

.justify-content-md-center .text-order-price .order-now {
  color: blue;
  font-size: 1.2rem;
}

.justify-content-md-center .text-order-price .price {
  font-size: 1.2rem;
  margin-right: auto;
}

.justify-content-md-center .text-order-price .price .price-product {
  color: red;
  font-weight: 500;
}

.justify-content-md-center .text-order-price .price .discount-product div {
  color: gray;
  font-size: 1rem;
  width: fit-content;
  padding: inherit;
}